<ion-content color="medium">
  <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col *ngFor="let account of people | slice:0:1">
        <img src="assets/img/user.png" alt="Profile image" *ngIf="!imgurl">
        <img [src]="imgurl.imgurl" alt="Profile image" *ngIf="imgurl">
        <!-- <h2 class="ion-text-center">{{ account.username }}</h2> -->
        <h2 class="ion-text-center">{{ currentusername }}</h2>
      </ion-col>
      <ion-col class="ion-text-end">
        <ion-icon name="settings-outline" class="cart" routerLink="../settings"></ion-icon>
        <ion-icon name="bag-outline" class="cart" routerLink="../shopping-bag"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--database for follower-->
  <div class="ion-text-center ffrtab">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h3>{{ follower }}</h3>
          <div>Follower</div>
        </ion-col>
        <ion-col>
          <h3>{{ following }}</h3>
          <div>Following</div>
        </ion-col>
        <ion-col>
          <h3>{{ reviewed }}</h3>
          <div>Reviews</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="ctrcont">
  
    <ion-segment value="listing" class="segments" (ionChange)="segmentChanged($event)" value="listing">
      
      <ion-segment-button value="listing">
        <ion-label color="dark">
          Listings 
        </ion-label>
      </ion-segment-button>

      <ion-segment-button value="sold">
        <ion-label color="dark">
          Sold 
        </ion-label>
      </ion-segment-button>
    
      <ion-segment-button value="bought">
        <ion-label color="dark">
          Bought
        </ion-label>
      </ion-segment-button>
      
      <ion-segment-button value="earn">
        <ion-label color="dark">
          Earns 
        </ion-label>
      </ion-segment-button>
    
    </ion-segment>
    
  </div>

  <div class="btmcont-listing">

    <!-- Listing segment -------------------------------------------- -->
    <div style="display: inline;" *ngIf="segmentValue == 'listing'">
      <div class="post" *ngFor="let item of item">
        <!--post-->
        <div class="postImg">
          <ion-img class="image" [src]="item.img1"></ion-img>
        </div>
        <div class="postContent">
          <div class="ion-text-center" id="vendorText">{{ item.name }}</div>
          <div class="ion-text-center">${{ item.price }} BND</div>
        </div>
      </div>
    </div>
  <!-- Listing segment -------------------------------------------- -->

  <!-- sold segment -------------------------------------------- -->
  <div style="display: inline;" *ngIf="segmentValue == 'sold'">
    
  </div>

  <!-- sold segment -------------------------------------------- -->

  <!-- bought segment -------------------------------------------- -->
  <div style="display: inline;" *ngIf="segmentValue == 'bought'">
    <div class="boughtPost" *ngFor="let track of tracks">
      <!--left(image)-->
      <div class="boughtLeft">
        <ion-img class="boughtImg" src="assets/img/box.png"></ion-img> <!--just local image here-->
      </div>
      <!--center(info)-->
      <div class="boughtCenter">
        <div class="ion-text-center" class="boughtName">{{ track.orderid }}</div> <!--for track ID-->
        <div class="ion-text-center" class="boughtBrand">{{ track.status }}</div> <!--status of delivery-->
      </div>
      <!--right(price & button)-->
      <div class="boughtRight">
        <div class="ion-text-center" class="tagPrice">{{ track.totalprice | currency }}</div> <!--here will be total price-->
        <ion-button color="tertiary" class="trackBtn" routerLink="../item-tracking" [state]="track">Track</ion-button>
      </div>
    </div>
  </div>

  <!-- bought segment -------------------------------------------- -->

  <!-- earn segment -------------------------------------------- -->
  <div style="display: inline;" *ngIf="segmentValue == 'earn'">
  
  </div>
  <!-- earn segment -------------------------------------------- -->
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="medium">
  <div id="footerBox">
    <ion-button color="medium" routerLink="../home" class="thisFlex">
      <div class="btnBox">
        <ion-icon name="home-outline" class="iconFooter"></ion-icon>
        Home
      </div>
    </ion-button>
    <ion-button color="medium" routerLink="../discover" class="thisFlex">
      <div class="btnBox">
        <ion-icon name="search-outline" class="iconFooter"></ion-icon>
        Discover
      </div>
    </ion-button>

    <ion-button color="medium" routerLink="../sell" class="thisFlex">
      <div class="btnBox">
        <ion-icon name="camera-outline" class="iconFooter"></ion-icon>
        Sell
      </div>
    </ion-button>

    <ion-button color="medium" routerLink="../alerts" class="thisFlex">
      <div class="btnBox">
        <ion-icon name="notifications-outline" class="iconFooter"></ion-icon>
        Alerts
      </div>
    </ion-button>

    <ion-button color="medium" class="thisFlex">
      <div class="btnBox">
        <ion-icon name="person-outline" class="iconFooter"></ion-icon>
        Me
      </div>
    </ion-button>
  </div>
  </ion-toolbar>
</ion-footer>
