<ion-header color="medium">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" routerLink="../home">
      <ion-button color="dark"><ion-icon name="arrow-back" size="large"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title color="dark"><b>Donation</b></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="medium">
  <div color="medium">
    <ion-searchbar color="medium"></ion-searchbar>
  </div>
  
  <ion-list style="letter-spacing: 1px;background-color:#ffffff;">

    <ion-item color="medium" *ngFor="let donation of donate">
      <ion-img style="margin:15px; height: 50px;width:50px;" src="assets/img/donation.png"></ion-img>
      <ion-label>
        <ion-text color="light">No. of item: </ion-text><b>{{ donation.quantity }}</b><br>
        <ion-text color="light">By: </ion-text><b>{{ donation.username }}</b>
      </ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>


