<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Track Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <!--here for header-->
  <h2>Thank you for shopping with <b>DeClutter</b></h2>

  <!--here for tracking details 1-->
  <div class="boxOrder">
    <!--for tracking ID-->
    <div class="myId" >
      <p class="detailTitle">Tracking ID</p>
      <p class="detailSub">{{ track[0].orderid }}</p> <!--value here-->
    </div>
    <!--for estimated time-->
    <div class="myTime">
      <p class="detailTitle">Estimated Time</p>
      <p class="detailSub">{{ track[0].eta }}</p> <!--time here-->
    </div>
  </div>

  <!--here for tracking details 2-->
  <h3>Order detail</h3>
  <ion-card color="primary" class="header" id="myText">
    <ion-img [src]="myImage" class="headerImg"></ion-img>
    Your order has been placed!
  </ion-card>

  <!--here for item to deliver-->
  <h3>Item ordered</h3>
  <ion-accordion-group color="medium">
    <ion-accordion color="medium"> <!--loop here-->
      <ion-item slot="header" color="medium">
        Item title (Quantity here)<!--this will be the name of item include quantity of item-->
      </ion-item>
      <!--some small detail such as vendor, type, price-->
      <div class="myItem" slot="content">
        <!--image-->
        <div class="imgBox">
          <ion-img src="assets/img/jeans.jpg"></ion-img> <!--image here-->
        </div>
        <!--content-->
        <div class="contentBox">
          <p class="title">{{ track[0].items }}</p> <!--vendor here-->
          <p class="items">Item type</p> <!--item type here-->
          <p class="items">Price</p> <!--item price here-->
        </div>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <!--here is the address to deliver-->
  <div class="addressBox">
    <!--address logo-->
    <div class="addressLogo">
      <img src="assets/img/address.png" class="addressImage">
    </div> 
    <!--address details-->
    <div class="addressDetails">
      <p class="addressTitle">Delivery Address</p><!--just title-->
      <p class="address">Address here</p><!--address here-->
    </div>
  </div>

</ion-content>
