<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Track Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <!--here for tracking details-->

  <!--here for item to deliver-->
  <h3>List of items to deliver</h3>
  <ion-accordion-group color="medium">
    <ion-accordion color="medium"> <!--loop here-->
      <ion-item slot="header" color="medium">
        Item title <!--this will be the name of item-->
      </ion-item>
      <!--some small detail such as vendor, type, price-->
      <div class="myItem" slot="content">
        <!--image-->
        <div class="imgBox">
          <ion-img src="assets/img/jeans.jpg"></ion-img> <!--image here-->
        </div>
        <!--content-->
        <div class="contentBox">
          <p class="title">Vendor</p> <!--vendor here-->
          <p class="items">Item type</p> <!--item type here-->
          <p class="items">Price</p> <!--item price here-->
        </div>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <!--here is the address to deliver-->
  <div class="addressBox">
    <!--address logo-->
    <div class="addressLogo">
      <img src="assets/img/address.png" class="addressImage">
    </div> 
    <!--address details-->
    <div class="addressDetails">
      <p class="addressTitle">Delivery Address</p><!--just title-->
      <p class="address">Address here</p><!--address here-->
    </div>
  </div>
</ion-content>
