<ion-header color="medium">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" routerLink="../">
      <ion-button color="dark"><ion-icon name="arrow-back" size="large"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col size="4"><ion-img src="assets/img/shoes.png"></ion-img></ion-col>
        <ion-col>
          <ion-row>
            <ion-col>
              <ion-row>
                <ion-col><ion-text color="dark"><b>Order ID: ODR9837029834</b></ion-text></ion-col>
              </ion-row>
              <ion-row>
                <ion-col><ion-text color="dark"><b>Item ID: RKL93847263</b></ion-text></ion-col>
              </ion-row>
              <ion-row>
                <ion-col><ion-text color="light"><b>01/04/2022</b></ion-text></ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="3"><ion-text color="light">Name</ion-text></ion-col>
      <ion-col><b>Black Low Ankle Converse</b></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3"><ion-text color="light">Brand</ion-text></ion-col>
      <ion-col><b>Converse</b></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3"><ion-text color="light">Size</ion-text></ion-col>
      <ion-col><b>US 8</b></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3"><ion-text color="light">Quantity</ion-text></ion-col>
      <ion-col><b>1</b></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3"><ion-text color="light">Price</ion-text></ion-col>
      <ion-col><b>B$20.00</b></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3"><ion-text color="light">Sold By</ion-text></ion-col>
      <ion-col><b>[ U56935 ] Thrift Shop</b></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3"><ion-text color="light">Brought By</ion-text></ion-col>
      <ion-col><b>[ U12569 ] Shawnda Maurene</b></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
