<ion-header>
  <ion-toolbar>
    <ion-title><b>Dashboard</b></ion-title>
    <ion-buttons slot="end">
      <ion-button><ion-icon name="settings" size="large"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col style="margin: 0 8px;">
        <h3>Database</h3>
        <ion-button expand="full">
          <ion-text><b>Users</b></ion-text>
        </ion-button>
        
        <ion-button expand="full">
          <ion-text><b>Products</b></ion-text>
        </ion-button>

        <ion-button expand="full">
          <ion-text><b>Orders</b></ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <!-- only put 4 recent inboxs -->
        <h3 style="margin: 8px;">Recent Inbox</h3>
        <ion-card>
          <ion-card-header>
            <ion-card-title><b>[ V67834 ] Best Thrift Shop</b></ion-card-title>
            <ion-card-subtitle>02:09pm, 12/04/2022</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Odio turpis quam malesuada quam massa, amet, elementum. Facilisis quis vitae sit at non vitae ...
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title><b>[ V44873 ] Reilly Christal</b></ion-card-title>
            <ion-card-subtitle>02:09pm, 12/04/2022</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Odio turpis quam malesuada quam massa, amet, elementum. Facilisis quis vitae sit at non vitae ...
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title><b>[ C12569 ] Shawnda Maurene</b></ion-card-title>
            <ion-card-subtitle>02:09pm, 12/04/2022</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Odio turpis quam malesuada quam massa, amet, elementum. Facilisis quis vitae sit at non vitae ...
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title><b>[ C12569 ] Shawnda Maurene</b></ion-card-title>
            <ion-card-subtitle>02:09pm, 12/04/2022</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Odio turpis quam malesuada quam massa, amet, elementum. Facilisis quis vitae sit at non vitae ...
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title><b>[ C12569 ] Shawnda Maurene</b></ion-card-title>
            <ion-card-subtitle>02:09pm, 12/04/2022</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Odio turpis quam malesuada quam massa, amet, elementum. Facilisis quis vitae sit at non vitae ...
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title><b>[ C12569 ] Shawnda Maurene</b></ion-card-title>
            <ion-card-subtitle>02:09pm, 12/04/2022</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Odio turpis quam malesuada quam massa, amet, elementum. Facilisis quis vitae sit at non vitae ...
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title><b>[ C12569 ] Shawnda Maurene</b></ion-card-title>
            <ion-card-subtitle>02:09pm, 12/04/2022</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Odio turpis quam malesuada quam massa, amet, elementum. Facilisis quis vitae sit at non vitae ...
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title><b>[ C12569 ] Shawnda Maurene</b></ion-card-title>
            <ion-card-subtitle>02:09pm, 12/04/2022</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Odio turpis quam malesuada quam massa, amet, elementum. Facilisis quis vitae sit at non vitae ...
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-fab vertical="bottom" horizontal="end" activated="true" slot="fixed" class="database" >
  </ion-fab> -->

</ion-content>
