<ion-header color="medium">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" routerLink="../home">
      <ion-button color="dark"><ion-icon name="arrow-back" size="large"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title color="dark"><b>Users</b></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="medium">
  <div color="medium">
    <ion-searchbar color="medium"></ion-searchbar>
  </div>
  
  <ion-list style="letter-spacing: 1px;background-color:#ffffff;">

    <ion-item color="medium" routerLink="../users/user-details" *ngFor="let accounts of people" [state]="account">
      <ion-avatar style="margin:15px; height: 50px;width:50px;">
        <img [src]="accounts.imgurl">
      </ion-avatar>
      <ion-label>
        <ion-text color="light">{{ accounts.email }}</ion-text><br>
        <ion-text><b>{{ accounts.username }}</b></ion-text>
      </ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>


