<ion-header color="medium">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" routerLink="../home">
      <ion-button color="dark"><ion-icon name="arrow-back" size="large"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title color="dark"><b>Users</b></ion-title>
  </ion-toolbar>
  <div color="medium">
    <ion-searchbar color="medium"></ion-searchbar>
  </div>
</ion-header>

<ion-content color="medium">
  
  <ion-list color="medium" style="letter-spacing: 1px;">
    <ion-item color="medium">
      <ion-avatar style="margin:15px; height: 50px;width:50px;"><ion-img src="assets/img/profile-round.png"></ion-img></ion-avatar>
      <ion-label>
        <ion-text color="medium">U67834</ion-text><br>
        <ion-text><b>Best Thrift Shop</b></ion-text>
      </ion-label>
    </ion-item>

    <ion-item color="medium">
      <ion-avatar style="margin:15px; height: 50px;width:50px;"><ion-img src="assets/img/profile-round.png"></ion-img></ion-avatar>
      <ion-label>
        <ion-text color="medium">U44873</ion-text><br>
        <ion-text><b>Reilly Christal</b></ion-text>
      </ion-label>
    </ion-item>

    <ion-item color="medium">
      <ion-avatar style="margin:15px; height: 50px;width:50px;"><ion-img src="assets/img/profile-round.png"></ion-img></ion-avatar>
      <ion-label>
        <ion-text color="medium">U56935</ion-text><br>
        <ion-text><b>Thrift Shop</b></ion-text>
      </ion-label>
    </ion-item>

    <ion-item color="medium">
      <ion-avatar style="margin:15px; height: 50px;width:50px;"><ion-img src="assets/img/profile-round.png"></ion-img></ion-avatar>
      <ion-label>
        <ion-text color="medium">U78924</ion-text><br>
        <ion-text><b>Second Love</b></ion-text>
      </ion-label>
    </ion-item>

    <ion-item color="medium">
      <ion-avatar style="margin:15px; height: 50px;width:50px;"><ion-img src="assets/img/profile-round.png"></ion-img></ion-avatar>
      <ion-label>
        <ion-text color="medium">U46825</ion-text><br>
        <ion-text><b>Preloved Shop</b></ion-text>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
