<ion-header color="medium">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" routerLink="../home">
      <ion-button color="dark"><ion-icon name="arrow-back" size="large"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title color="dark"><b>Users</b></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="medium">
  <div color="medium">
    <ion-searchbar color="medium"></ion-searchbar>
  </div>
  
  <ion-list style="letter-spacing: 1px;background-color:#ffffff;">

    <ion-item color="medium" routerLink="../users/user-details">
      <ion-avatar style="margin:15px; height: 50px;width:50px;"><ion-img src="assets/img/profile-round.png"></ion-img></ion-avatar>
      <ion-label>
        <ion-text color="light">U67834</ion-text><br>
        <ion-text><b>Best Thrift Shop</b></ion-text>
      </ion-label>
    </ion-item>

    <ion-item color="medium">
      <ion-avatar style="margin:15px; height: 50px;width:50px;"><ion-img src="assets/img/profile-round.png"></ion-img></ion-avatar>
      <ion-label>
        <ion-text color="light">U44873</ion-text><br>
        <ion-text><b>Reilly Christal</b></ion-text>
      </ion-label>
    </ion-item>

    <ion-item color="medium">
      <ion-avatar style="margin:15px; height: 50px;width:50px;"><ion-img src="assets/img/profile-round.png"></ion-img></ion-avatar>
      <ion-label>
        <ion-text color="light">U56935</ion-text><br>
        <ion-text><b>Thrift Shop</b></ion-text>
      </ion-label>
    </ion-item>

    <ion-item color="medium">
      <ion-avatar style="margin:15px; height: 50px;width:50px;"><ion-img src="assets/img/profile-round.png"></ion-img></ion-avatar>
      <ion-label>
        <ion-text color="light">U78924</ion-text><br>
        <ion-text><b>Shawnda Maurene</b></ion-text>
      </ion-label>
    </ion-item>

    <ion-item color="medium">
      <ion-avatar style="margin:15px; height: 50px;width:50px;"><ion-img src="assets/img/profile-round.png"></ion-img></ion-avatar>
      <ion-label>
        <ion-text color="light">U98537</ion-text><br>
        <ion-text><b>Wan Roniy</b></ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>


