<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Reviews</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <div class="scoreNo">
    <p class="myScore">0.0 Out of 5.0</p> <!--total star divide by total user-->
    <p class="userBased">No reviews on this user</p> <!--total user-->
    <!--star start here-->
    <div id="starOne">
      <ion-img src="assets/img/zerostar.png"></ion-img><!--zero star change into colored star on score-->
    </div> 
    
    <div id="starTwo">
      <ion-img src="assets/img/zerostar.png"></ion-img>
    </div>

    <div id="starThree">
      <ion-img src="assets/img/zerostar.png"></ion-img>
    </div>

    <div id="starFour">
      <ion-img src="assets/img/zerostar.png"></ion-img>
    </div>

    <div id="starFive">
      <ion-img src="assets/img/zerostar.png"></ion-img> <!--important here!! user star.png for colored star-->
    </div>
    <!--star end s here-->
  </div>

  <!--line here-->
  <div id="longLine"></div>

  <!--comment section below-->

  <!--your comment-->
  <h2 id="titleOne">Your review</h2>
  <div class="messageBox">
    <form action="#">
      <!--top of box-->
      <div class="htop">
        <div class="topLeft">
          <img src="assets/img/profile-round.png" alt="profile picture" class="userImg">
        </div> <!--profile picture-->
        <div class="topRight">
          <div id="username">You</div> <!--username-->
          <!--rate-->
          <div class="starBox">
            <img src="assets/img/zerostar.png" alt="one" id="uStarOne"> <!--to change into colored star use userStar.png-->
            <img src="assets/img/zerostar.png" alt="two" id="uStarTwo">
            <img src="assets/img/zerostar.png" alt="three" id="uStarThree">
            <img src="assets/img/zerostar.png" alt="four" id="uStarFour">
            <img src="assets/img/zerostar.png" alt="five" id="uStarFive">
          </div> 
        </div> <!--username & rate-->
      </div>
      <!--for comment box-->
      <ion-textarea class="commentBox" placeholder="Add some comment here.."></ion-textarea>
      <div class="hbot">
        <div class="topRight"><ion-input type="file" class="imgButton"></ion-input></div> <!--for upload button-->
        <div class="topleft"><ion-button type="submit" class="submitBtn" color="tertiary">Submit</ion-button></div> <!--for submit button-->
      </div>
    </form>
  </div>


  <!--other user comments-->
  <h2 id="titleOne">Comments</h2>
  <!--comment box-->
  <div class="commentBoxs">
    <!--user detail + star-->
    <div class="top">
      <div class="tlft"> 
        <img src="assets/img/profile-round.png" alt="profile picture" class="userImg"> <!--user image-->
      </div> 
      <div class="tctr"> <!--user name including star-->
        <div id="username">User</div> <!--other username-->
          <!--rate-->
          <div class="starBox">
            <img src="assets/img/star.png" alt="one" id="uStarOne"> <!--to change into colored star use userStar.png-->
            <img src="assets/img/zerostar.png" alt="two" id="uStarTwo"> 
            <img src="assets/img/zerostar.png" alt="three" id="uStarThree">
            <img src="assets/img/zerostar.png" alt="four" id="uStarFour">
            <img src="assets/img/zerostar.png" alt="five" id="uStarFive">
          </div> 
      </div>
    </div>

    <!--comments text-->
    <div class="commentText">
      <p class="otherText">testing</p><!--comments-->
      <ion-img src="assets/img/jeans.jpg" class="commentImg"></ion-img>
    </div>

    <!--date here-->
    <div class="dateText">
      <p class="myDate">Date here</p>
    </div>
  </div>

</ion-content>
