<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start" routerLink="../">
      <ion-button color="dark"><ion-icon name="arrow-back" size="large"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <form style="margin:15px;" [formGroup]="feedbackForm" (ngSubmit)="submitFeedback(feedbackForm.value)">
    <ion-list style="background-color:#ffffff;">
      <ion-label>From:</ion-label>
      <ion-item color="medium">
        <ion-text>{{ currentusername }}</ion-text>
      </ion-item>
      <br>

      <ion-label>To:</ion-label>
      <ion-item color="medium">
        <ion-text>Moderator</ion-text>
      </ion-item>
      <br>
            
      <ion-label>Description:</ion-label>
      <ion-item color="medium">
        <ion-input type="text" placeholder="Describe your feedback" formControlName="description" required></ion-input>
      </ion-item>
      <br>
    </ion-list>
    <ion-button expand="block" type="submit" color="tertiary" [disabled]="!feedbackForm.valid"><b>Submit feedback</b></ion-button>
  </form>

</ion-content>
