<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Verify your account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <form action="">
    <ion-card color="medium">
      <!--first input-->
      <p>we have send you OTP via Email for</p>
      <p>verification</p>
      <ion-label>Enter the OTP</ion-label>
      <ion-item color="medium">
        <ion-input type="text"></ion-input>
      </ion-item>
      <br><!--break line-->
      <p>Didn't receive it? &nbsp;<a href="#">Resend OTP</a></p>
    </ion-card>
    <!--for blank space-->
    <div id="spaces"></div>
    <!--submit button here-->
    <ion-button color="tertiary" shape="round" routerLink="verified">Log In</ion-button>
  </form>
</ion-content>
