<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <form action="">
    <ion-card color="medium">
      <!--first input-->
      <ion-label>New Password</ion-label>
      <ion-item color="medium">
        <ion-input type ="password" placeholder=""></ion-input>
      </ion-item>
      <br><!--break line-->
      <!--second input-->
      <ion-label>Re-enter Password</ion-label>
      <ion-item color="medium">
        <ion-input type="password" placeholder=""></ion-input>
      </ion-item>
    </ion-card>
    <!--for blank space-->
    <div id="spaces"></div>
    <!--submit button here-->
    <ion-button color="tertiary" shape="round" routerLink="pass-set">Continue</ion-button>
  </form>
</ion-content>
