ion-toolbar {
    --background: linear-gradient(#FAECDF, #ffffff);
}
ion-avatar {
    width:100% !important;  
    height : 100% !important;  
    max-width: 100px !important;  //any size
    max-height: 100px !important; //any size 
}
.large-font {
    font-size: 1.5rem;
}
.medium-font {
    font-size: 1.2rem;
}