<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end" style="position:absolute; right:0; top:15%;">
      <ion-button routerLink="../../auth" color="dark"><ion-icon name="log-out" size="large"></ion-icon></ion-button>
    </ion-buttons>
    <ion-grid class="ion-text-center">
      <ion-row>
        <ion-col>
          <ion-avatar style="margin:10% auto 0;">
            <img src="assets/img/user.png" alt="Profile image" *ngIf="!imgurl" class="profileImage">
            <img [src]="imgurl.imgurl" alt="Profile image" *ngIf="imgurl" class="profileImage">
          </ion-avatar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text class="large-font" color="dark"><b>{{ currentusername }}</b></ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button style="--border-radius:20px;" routerLink="../profile/settings/edit-profile"><ion-text color="dark"><b>Edit Profile</b></ion-text></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-grid style="margin: 8px; letter-spacing: 1px;">
    <ion-row>
      <ion-col size="3"><ion-text color="light">Username</ion-text></ion-col>
      <ion-col><ion-text><b>{{ currentusername }}</b></ion-text></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3"><ion-text color="light">Fullname</ion-text></ion-col>
      <ion-col><ion-text><b>{{ users[0].fullname }}</b></ion-text></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3"><ion-text color="light">Email</ion-text></ion-col>
      <ion-col><ion-text><b>{{ users[0].email }}</b></ion-text></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3"><ion-text color="light">Phone No.</ion-text></ion-col>
      <ion-col><ion-text><b>{{ users[0].contact }}</b></ion-text></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3"><ion-text color="light">Address 1</ion-text></ion-col>
      <ion-col><ion-text><b>{{ users[0].address1 }}</b></ion-text></ion-col><!--No. 2, Spg 10, Kg Subok-->
    </ion-row>
    <ion-row>
      <ion-col size="3"><ion-text color="light">{{ users[0].address2 }}</ion-text></ion-col>
      <ion-col><ion-text><b></b></ion-text></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer style="height: 8%;background-color:#ffffff;">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button class="tab-button" routerLink="../home">
          <ion-img style="margin: 0 auto;" src="assets/icon/home-label.png"></ion-img>
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-button class="tab-button" routerLink="../inbox">
          <ion-img style="margin: 10% auto;" src="assets/icon/inbox-label.png"></ion-img>
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-button class="tab-button" routerLink="../profile">
          <ion-img style="margin: 0 auto;" src="assets/icon/profile-label.png"></ion-img>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
