<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Terms & Conditions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <h2>DeClutter Donation :</h2>
  <ul>
    <li>Anyone in Brunei can donate their belongings to DeClutter</li>
    <li>We only accept Clothings (strictly no undergarments), Bags, Footwear</li>
    <li>Do clean the items you wish to donate first before scheduling for pickup or drop-off</li>
    <li>We only accept items that are in good conditions (any bad items donated, you will be reported immediately)</li>
  </ul>

  <h2>Pickup :</h2>
  <ul>
    <li>Pickup by DeClutter</li>
    <li>Please provide a picture of where to pick your item prior to the pickup time</li>
    <li>Pickup time: 10am - 8pm only</li>
    <li>Please provide your contact number for contacting purposes</li>
  </ul>

  <h2>Drop-off :</h2>
  <ul>
    <li>We are located in Lambak Kanan (near Mid Valley)</li>
    <li>Location and address will be provided</li>
    <li>Drop-off time: 10a, - 8pm only (except friday: 11am - 12pm & 2pm - 8pm)</li>
  </ul>

  <p>By donating, you agree to our terms and conditions</p>
</ion-content>
