<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">CHECKOUT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <p>{{number1}} Item</p> <!--item Value {{ }}-->
  <ion-card color="medium" *ngFor="let item of item">
    <p>Sold By {{item.username}}</p> <!--user who sold same item {{ }}-->
    <div class="wrap">
      <!--picture here-->
      <div class="img">
        <ion-img [src]="item.img1" alt="sold item" class="itemPic"></ion-img>
      </div>

      <!--description here-->
      <div class="desc">
        <!--item name-->
        <div class="textWrap">
          <div class="left">{{item.title}}</div>
          <div class="right">{{item.price| currency}}</div> <!--price of an item-->
        </div>
        <!--item brand-->
        <div class="grey">{{item.brand}}</div>
      </div>
    </div>
    <br>
    <!--line break-->
  </ion-card>

  <!--discount code-->
  <div class="codeWrap">
    
    <!--input-->
    <div class="codeLft">
      <ion-input type="text" placeholder="Discount Code" class="codeInput"></ion-input>
    </div>

    <!--button-->
    <div class="codeRgt">
      <ion-button type="submit" class="codeBtn" color="tertiary" shape="round">Apply</ion-button>
    </div>
  </div>

  <!--calculation-->
  <div class="calculationBox">
    <!--for subtotal-->
    <div class="subtotal">
      <div class="lft">Subtotal</div>
      <div class="rgt">{{totalcost | currency:"B$"}}</div>
    </div> 

    <!--for shipping-->
    <div class="shipping">
      <div class="lft">Shipping</div>
      <div class="rgt">{{shipping | currency:"B$"}}</div>
    </div> 

    <!--for discount-->
    <div class="discount">
      <div class="lft">Discount</div>
      <div class="rgt">{{discountprice | currency:"B$"}}</div>
    </div> 

    <!--for total-->
    <div class="total">
      <div class="lft" style="font-weight: bold;">Total</div>
      <div class="rgt">{{finaltotal | currency:"B$"}}</div>
    </div> 
  </div>

  <ion-button shape="round" color="tertiary" routerLink="../checkout">Proceed</ion-button>
</ion-content>
