<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Direct Message</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <!--chat box for other user here-->
  <div *ngFor="let message of messages">
    <div class="chatBox" *ngIf="message.user != currentid">
      <div class="pic">
        <ion-img src="assets/img/profile-round.png" alt="profile picture"></ion-img>
      </div>
      <div class="chat">
        <div class="box">
          <p style="padding-left: 10px;" class="unameColor">{{vendorname}}</p>
          <p class="left">{{message.text}}</p>
        </div>
      </div>
    </div>


    <!--chat box for current user here-->
    <div class="chatBox" *ngIf="message.user == currentid">
      <div class="chat">
        <div class="uBox">
          <p style="text-align: right; padding-right: 10px;" class="unameColor">{{currentname}}</p>
          <p class="right">{{message.text}}</p>
        </div>
      </div>
      <div class="pic">
        <ion-img src="assets/img/profile-round.png" alt="profile picture"></ion-img>
      </div>
    </div>
  </div>


</ion-content>

<ion-footer>
  <ion-toolbar color="tertiary">
    <!--textarea-->
    <form  [formGroup]="message" (ngSubmit)="sendmessage()">
      <div class="textBox">
          <ion-textarea placeholder="Message..." formControlName="text"></ion-textarea>
          <ion-button type="submit" color="secondary">Send</ion-button>
      </div>
    </form>
  </ion-toolbar>
</ion-footer>