<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Shopping Bag</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-segment (ionChange)="onFilterUpdate($event)"> -->
  <ion-segment id="topsegment"> <!--event will be as object-->
    <!--first button-->
   <ion-segment-button value="bag">In My Bag ({{bagcount}})</ion-segment-button> 
   <!--second button-->
   <ion-segment-button value="saved">Saved ({{savedcount}})</ion-segment-button>
 </ion-segment>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <form action="">
      <ion-grid>
        <ion-row>
          <ion-col>
            <span>{{selectedcount}}  items</span> <br>
            <span>B${{totalpayment}}</span>
          </ion-col>
          <ion-col>
            <ion-button color="tertiary" shape="round">Go to checkout</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-toolbar>
</ion-footer>
