ion-buttons{
    width: 10px;
}



#spaces {
    display: block;
    height: 240px;
}

ion-button{
    display: block;
    width: 200px;
    margin: auto;
}

//#topsegment ion-segment-button {

//}

#topsegment {
    border-bottom: solid black 2px;
}

ion-footer {
    height: 13%;
    margin: auto;
    padding: 5%;
}

.totalcost {
    font-weight: bold;
}

.colright {
    text-align: right;
}

ion-img {
    width: 80px;
}

.highter {
    height: 40px;
}

.bgColor{
    background-color: white;
}

ion-segment{
    color: black;
}

.item-label {
    font-size: 14px;
}

.item-brand, .item-action {
    font-size: 10px;
}

.item-label, .item-action {
    font-weight: bold;
}

//for saved in bag box
.bagWrap{
    display: flex; flex: wrap;
    width: 100%; height: 13vh;
}

.bagLeft{
    flex: 20%;
}

.bagCenter{
    flex: 50%;
}

.bagRight{
    flex: 20%;
}

//for picture
.itemPic{
    width: 80px; height: 80px;
}

.itemPic::part(image){
    object-fit: cover;
    margin-top: 10px;
}

//for text
.textBold{
    font-weight: bold;
    font-size: 16px;
    padding-left: 5px; padding-right: 5px;
    line-height: 10px;
}

.subtitle{
    font-size: 14px;
    padding-left: 5px; line-height: 10px;
}

.smallBold{
    font-size: 14px; font-weight: bold;
    padding-left: 5px;
}

//icon trash
.trashIcon{
    width: 35px; height: 35px;
    color: red;
}

//for whitebox
.scrollBox{
    display: block;
    width: 95%; height: 32vh;
    overflow-x: auto; margin: auto;
    white-space: nowrap;
    border: 1px solid;
}

.whiteBox{
    display: inline-flex;
    width: 50%; height: 30vh;
    border: 1px solid;
    border-radius: 10px;
    margin-left: 10px; margin-right: 10px;
    margin-top: 5px;
}
