<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Shopping Bag</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-segment id="topsegment" (ionChange)="segmentChanged($event)" color="light" value="bag"> <!--event will be as object-->
    <!--first button-->
   <ion-segment-button value="bag" color="medium">
    <ion-label color="light">
      In My Bag ({{number1}})
    </ion-label>
  </ion-segment-button> 
   <!--second button-->
  <ion-segment-button value="saved" color="medium">
    <ion-label color="light">
      Saved  ({{number2}})
    </ion-label>
  </ion-segment-button>
 </ion-segment>

 <!-- Bag Side of things 00000000000000000000000000000000000000000000 -->
 <ion-grid *ngIf="segmentValue == 'bag'">
    <div class="scrollBox">
      <div class="whiteBox" *ngFor="let item of item">
        <!--item image-->
        <div class="imageBox">
          <ion-img [src]="item.img1" class="myImg"></ion-img>
        </div>
        <!--item details-->
        <div class="textBox">
          <div class="textBold">{{item.title}}</div>
          <p class="smallBold">{{item.price| currency}} BND</p>
          <p class="subtitle">{{item.brand}}</p>
          <p class="smallBold" (click)="saved(item.title, item.vendor)">Move to wishlist</p>
        </div>
        <!--item quantity-->
        <div class="quantityBox">
          <!--button minus-->
          <div class="minusBtn">
            <button class="myButton">-</button>
          </div>
          <!--number here-->
          <div class="numberBtn">
            <input type="number" value="1" class="myInputNumber"><!--quantity-->
          </div>
          <!--button add-->
          <div class="addBtn">
            <button class="myButton">+</button>
          </div>
        </div>
        <!--remove here-->
        <div class="myRemove">
          <button class="myRemoveBtn" (click)="remove(item.title, item.vendor)">Remove</button>
        </div>
      </div>
    </div>
 </ion-grid>

 <!-- end of bag 00000000000000000000000000000000000000000000 -->

 <!-- saved side of things 0000000000000000000000000000000000 -->
 <ion-grid *ngIf="segmentValue == 'saved'">
  <div class="scrollBox">
      <div class="whiteBox" *ngFor="let saved of saveditem"> <!--here for loop-->
        <!--item image-->
        <div class="imageBox">
          <ion-img [src]="saved.img1" class="myImg"></ion-img>
        </div>
        <!--item details-->
        <div class="textBox">
          <div class="textBold">{{ saved.title }}</div> <!--this is for title-->
          <p class="smallBold">{{ saved.price| currency }} BND</p> <!--this is for price-->
          <p class="subtitle">{{ saved.brand }}</p> <!--this is for brand-->
          <p class="smallBold" (click)="bag(saved.title, saved.vendor)">Move to bag</p>
        </div>
        <br>
        <!--remove here-->
        <div class="myRemove">
          <button class="myRemoveBtn" (click)="remove2(saved.title, saved.vendor)">Remove</button>
        </div>
      </div>
    </div>
</ion-grid>
</ion-content>

<!-- end of saved 000000000000000000000000000000000000000000 -->

<!-- bag footer 00000000000000000000000000000000000000000000 -->
<ion-footer *ngIf="segmentValue == 'bag'" class="bgColor">
  <ion-toolbar color="medium">
    <form action="">
      <ion-grid>
        <ion-row>
          <ion-col>
            <span>{{number1}} items</span> <br>
            <span class="totalcost">{{totalcost | currency:"B$"}}</span>
          </ion-col>
          <ion-col>
            <ion-button color="tertiary" shape="round" routerLink="../item-sold" [disabled]="number1 == 0">Go to checkout</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-toolbar>
</ion-footer>
<!-- end of bag footer 000000000000000000000000000000000000000 -->

 