<ion-header>
  <ion-toolbar color="medium" class="toolbarHeader">
    <ion-title>Discover</ion-title> <!--title-->
    <!--horizontal button-->
    <ion-segment>
      <ion-segment-button value="women">
        <ion-label class="segmentLabel">Women</ion-label>
      </ion-segment-button>
      <ion-segment-button value="men">
        <ion-label>Men</ion-label>
      </ion-segment-button>
      <ion-segment-button value="kids">
        <ion-label>Kids</ion-label>
      </ion-segment-button>
      <ion-segment-button value="users">
        <ion-label>Users</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <!--button to select-->
  <div class="categories">Clothing</div> <!--button 1-->
  <div class="categories">Shoes</div> <!--button 2-->
  <div class="categories">Bag & Wallet</div> <!--button 3-->
  <div class="categories">Accessories</div> <!--button 4-->
</ion-content>  

<ion-footer>
  <ion-toolbar color="medium">
  <div id="footerBox">
    <ion-button color="medium" routerLink="../home">
      <ion-label><ion-icon name="home-outline" class="iconFooter"></ion-icon>Home</ion-label>
    </ion-button>

    <ion-button color="medium">
      <ion-label><ion-icon name="search-outline" class="iconFooter"></ion-icon>Discover</ion-label>
    </ion-button>

    <ion-button color="medium">
      <ion-label><ion-icon name="camera-outline" class="iconFooter"></ion-icon>Sell</ion-label>
    </ion-button>

    <ion-button color="medium" routerLink="../alerts">
      <ion-label><ion-icon name="notifications-outline" class="iconFooter"></ion-icon>Alerts</ion-label>
    </ion-button>

    <ion-button color="medium" routerLink="../mepage">
      <ion-label><ion-icon name="person-outline" class="iconFooter"></ion-icon>Me</ion-label>
    </ion-button>
  </div>
  </ion-toolbar>
</ion-footer>
