<ion-header>
  <ion-toolbar color="medium">
    <ion-title>discover</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">

</ion-content>

<ion-footer>
  <ion-toolbar color="medium">
  <div id="footerBox">
    <ion-button color="medium">
      <ion-label><ion-icon name="home-outline" class="iconFooter"></ion-icon>Home</ion-label>
    </ion-button>

    <ion-button color="medium">
      <ion-label><ion-icon name="search-outline" class="iconFooter"></ion-icon>Discover</ion-label>
    </ion-button>

    <ion-button color="medium">
      <ion-label><ion-icon name="camera-outline" class="iconFooter"></ion-icon>Sell</ion-label>
    </ion-button>

    <ion-button color="medium">
      <ion-label><ion-icon name="notifications-outline" class="iconFooter"></ion-icon>Alerts</ion-label>
    </ion-button>

    <ion-button color="medium">
      <ion-label><ion-icon name="person-outline" class="iconFooter"></ion-icon>Me</ion-label>
    </ion-button>
  </div>
  </ion-toolbar>
</ion-footer>
