<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="dark"><b>Inbox</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-list>
    <ion-item color="medium">
      <ion-icon size="large" style="margin: 20px;" name="archive"></ion-icon>
      <ion-label>All Inbox</ion-label>
    </ion-item>

    <ion-item color="medium">
      <ion-icon size="large" style="margin: 20px;" name="build"></ion-icon>
      <ion-label>Bugs</ion-label>
    </ion-item>

    <ion-item color="medium">
      <ion-icon size="large" style="margin: 20px;" name="cart"></ion-icon>
      <ion-label>Order Error</ion-label>
    </ion-item>

    <ion-item color="medium">
      <ion-icon size="large" style="margin: 20px;" name="cash"></ion-icon>
      <ion-label>Payment Error</ion-label>
    </ion-item>

    <ion-item color="medium">
      <ion-icon size="large" style="margin: 20px;" name="chatbubbles"></ion-icon>
      <ion-label>Feedback</ion-label>
    </ion-item>
  </ion-list>
  <!-- <ion-list>
    <ion-item>
      <ion-label>
        <ion-text><b>[ V67834 ] Best Thrift Shop</b></ion-text><br>
        <ion-text>02:09pm, 12/04/2022</ion-text><br>
        <p>Odio turpis quam malesuada quam massa, amet, elementum. Facilisis quis vitae sit at non vita.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-text><b>[ V44873 ] Reilly Christal</b></ion-text><br>
        <ion-text>02:09pm, 12/04/2022</ion-text><br>
        <p>Odio turpis quam malesuada quam massa, amet, elementum. Facilisis quis vitae sit at non vita.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-text><b>[ C12569 ] Shawnda Maurene</b></ion-text><br>
        <ion-text>02:09pm, 12/04/2022</ion-text><br>
        <p>Odio turpis quam malesuada quam massa, amet, elementum. Facilisis quis vitae sit at non vita.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-text><b>[ U98537 ] Wan Roniy</b></ion-text><br>
        <ion-text>02:09pm, 12/04/2022</ion-text><br>
        <p>Odio turpis quam malesuada quam massa, amet, elementum. Facilisis quis vitae sit at non vita.</p>
      </ion-label>
    </ion-item>

  </ion-list> -->

</ion-content>
