<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="dark"><b>Inbox</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <ion-text><b>[ V67834 ] Best Thrift Shop</b></ion-text><br>
        <ion-text>02:09pm, 12/04/2022</ion-text><br>
        <p>Odio turpis quam malesuada quam massa, amet, elementum. Facilisis quis vitae sit at non vita.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-text><b>[ V44873 ] Reilly Christal</b></ion-text><br>
        <ion-text>02:09pm, 12/04/2022</ion-text><br>
        <p>Odio turpis quam malesuada quam massa, amet, elementum. Facilisis quis vitae sit at non vita.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-text><b>[ C12569 ] Shawnda Maurene</b></ion-text><br>
        <ion-text>02:09pm, 12/04/2022</ion-text><br>
        <p>Odio turpis quam malesuada quam massa, amet, elementum. Facilisis quis vitae sit at non vita.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-text><b>[ U98537 ] Wan Roniy</b></ion-text><br>
        <ion-text>02:09pm, 12/04/2022</ion-text><br>
        <p>Odio turpis quam malesuada quam massa, amet, elementum. Facilisis quis vitae sit at non vita.</p>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
