ion-avatar {
    width:100% !important;  
    height : 100% !important;  
    max-width: 100px !important;  //any size
    max-height: 100px !important; //any size 
}
ion-label {
    color: #a6a6a7;
}
ion-text {
    font-weight: bold;
}
.check-profile{
    height: 8%;
    background-color: white;
}
.check-profile .email {
    --box-shadow: none;
    --background: none;
    margin: auto;
}