<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <form class="form" [formGroup]="addUsers" (ngSubmit)="signup(users.value)"> <!-- account created when submit-->
    <ion-card color="medium">
      <!--first input-->
      <ion-label>Username or Email</ion-label>
      <ion-item color="medium">
        <ion-input type="text" placeholder="Set a username" formControlName="username"></ion-input> <!--include formcontrolname-->
      </ion-item>
      <br><!--break line-->
      <!--second input-->
      <ion-label>Email</ion-label>
      <ion-item color="medium">
        <ion-input type="email" placeholder="Set an email" formControlName="email"></ion-input>
      </ion-item>
      <br><!--break line-->
      <!--third input-->
      <ion-label>Password</ion-label>
      <ion-item color="medium">
        <ion-input type="passowrd" placeholder="Set a password" formControlName="password" required></ion-input>
      </ion-item>
      <br><!--break line-->
      <!--fourth input-->
      <ion-label>Phone</ion-label>
      <ion-item color="medium">
        <ion-input type="text" placeholder="BN +673" value="BN +673 " formControlName="contact"></ion-input>
      </ion-item>
    </ion-card>
    <!--for blank space-->
    <div id="spaces"></div>
    <!--submit button here-->
    <p>By signing up, you agree to out <b>Terms &</b></p>
    <p><b>Conditions</b> and <b>Privacy Policy</b></p>
    <ion-button color="tertiary" shape="round" routerLink="../verification">Continue</ion-button>
  </form>
</ion-content>
