<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-card color="primary" class="myWelcome">
    <ion-img src="assets/img/start.jpg"></ion-img>
    <h2>Let's get started!</h2>
    Create your account to continue!
  </ion-card>

  <form class="form" [formGroup]="addUsers" (ngSubmit)="signUp(addUsers.value)"> <!-- account created when submit-->
    <ion-card color="medium">
      <!--first input-->
      <ion-label>Username</ion-label>
      <ion-item color="medium">
        <ion-input type="text" placeholder="Set a username" formControlName="username"><ion-icon name="person-outline"></ion-icon> &nbsp;</ion-input> <!--include formcontrolname-->
      </ion-item>
      <!--validator message-->
      <ng-container *ngFor="let error of error_msg.username">
        <div *ngIf="addUsers.get('username').hasError(error.type) && (addUsers.get('username').dirty || addUsers.get('username').touched)">
          {{ error.message }}
        </div>
      </ng-container>
      <br><!--break line-->

      <!--second input-->
      <ion-label>Email</ion-label>
      <ion-item color="medium">
        <ion-input type="email" placeholder="Set an email" formControlName="email"><ion-icon name="mail-outline"></ion-icon> &nbsp;</ion-input>
      </ion-item>
      <!--validator message-->
      <ng-container *ngFor="let error of error_msg.email">
        <div *ngIf="addUsers.get('email').hasError(error.type) && (addUsers.get('email').dirty || addUsers.get('email').touched)">
          {{ error.message }}
        </div>
      </ng-container>
      <br><!--break line-->

      <!--third input-->
      <ion-label>Password</ion-label>
      <ion-item color="medium">
        <ion-input type="password" placeholder="Set a password" formControlName="password" required><ion-icon name="key-outline"></ion-icon> &nbsp;</ion-input>
      </ion-item>
      <!--validator message-->
      <ng-container *ngFor="let error of error_msg.password">
        <div *ngIf="addUsers.get('password').hasError(error.type) && (addUsers.get('password').dirty || addUsers.get('password').touched)">
          {{ error.message }}
        </div>
      </ng-container>
      <br><!--break line-->

      <!--fourth input-->
      <ion-label>Phone</ion-label>
      <ion-item color="medium">
        <ion-input type="text" placeholder="BN +673" value="BN +673 " formControlName="contact"><ion-icon name="phone-portrait-outline"></ion-icon> &nbsp;</ion-input>
      </ion-item>
      <!--validator message-->
      <ng-container *ngFor="let error of error_msg.contact">
        <div *ngIf="addUsers.get('contact').hasError(error.type) && (addUsers.get('contact').dirty || addUsers.get('contact').touched)">
          {{ error.message }}
        </div>
      </ng-container>
    </ion-card>
    <!--for blank space-->
    <div id="spaces"></div>
    <!--submit button here-->
    <p>By signing up, you agree to out <b>Terms &</b></p>
    <p><b>Conditions</b> and <b>Privacy Policy</b></p>
    <ion-button type="submit" color="tertiary" shape="round" [disabled]="!addUsers.valid">Continue</ion-button>
    <!-- error or success message -->
    <ion-label class="ion-text-center" color="danger">{{errorMsg}}</ion-label>
    <ion-label class="ion-text-center" color="success">{{successMsg}}</ion-label>
  </form>
</ion-content>
