<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" routerLink="../">
      <ion-button color="dark"><ion-icon name="arrow-back" size="large"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title color="dark"><b>Report</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
    <ion-list style="background-color:#ffffff; margin:15px;">
      <ion-item color="medium">
        <ion-text><b>From: </b>{{ myReport[0].username }}</ion-text>
      </ion-item>
      <br>

      <ion-item color="medium">
        <ion-text><b>Error: </b>{{ myReport[0].error }}</ion-text>
      </ion-item>
      <br>

      <ion-label>Error Screenshot:</ion-label>
      <ion-item color="medium">
        <div style="margin: 10px;">
          <ion-img [src]="myReport[0].screenshot" alt="screenshot"></ion-img>
        </div>
      </ion-item>
      <br>
            
      <ion-label>Description:</ion-label>
      <ion-item color="medium">
        <ion-text>{{ myReport[0].description }}</ion-text>
      </ion-item>
    </ion-list>

    <ion-button style="margin:15px 15px;" expand="block" routerLink="../../reply" [state]="myReport[0]"><p style="color: black;"><b>Reply report</b></p></ion-button>


</ion-content>
