<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Item Details</ion-title>
    <ion-icon name="bag-outline" slot="end" routerLink="../shopping-bag"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <!--item details picture-->
  <div class="bigPicture">
    <ion-slides [options]="slideOpts">
      <!--for picture 1-->
      <ion-slide>
        <ion-img [src]="item[0].img1" alt="item" class="bigPic"></ion-img>
      </ion-slide>

      <!--for picture 2-->
      <ion-slide>
        <ion-img [src]="item[0].img2" alt="item" class="bigPic"></ion-img>
      </ion-slide>

      <!--for picture 3-->
      <ion-slide>
        <ion-img [src]="item[0].img3" alt="item" class="bigPic"></ion-img>
      </ion-slide>
    </ion-slides>
    
  </div>

  <!--item details content-->
  <div class="itemWrap" routerLink="../user" [state]="user">
    <!--left-->
    <div class="itemLeft">
      <ion-img src="assets/img/profile-round.png" class="profilePic"></ion-img>
    </div>

    <!--right-->
    <div class="itemRight">
      <p>{{ item[0].username }}</p>
    </div>
  </div>

  <!--title-->
  <p class="titleText">{{ item[0].title }}</p>
  <p class="priceTag">$ {{ item[0].price }}</p>

  <!--more info-->
  <div class="infoWrap">
    <!--left side-->
    <div class="infoLeft">
      <p>Brand</p>
      <p>Quantity</p>
      <p>Size</p>
      <p>Color</p>
      <p>Categories</p>
      <p>Description</p>
    </div>
    <!--right side-->
    <div class="infoRight">
      <p>{{ item[0].brand }}</p>
      <p>{{ item[0].quantity }}</p>
      <p>{{ item[0].size }}</p>
      <p>{{ item[0].color }}</p>
      <p>{{ item[0].categories }}</p>
      <p>{{ item[0].description }}</p>
    </div>
  </div>
</ion-content>

<!--footer here-->
<ion-footer>
  <ion-toolbar color="medium">
    <div class="footerWrap">
      <div class="fLeft">
        <ion-icon name="heart-outline" class="likeIcon" (click)="wishlist()"></ion-icon>
        <ion-icon name="chatbubble-ellipses-outline" class="checkIcon" routerLink="../reviews"></ion-icon>
      </div>
      <div class="fRight">
        <ion-button color="tertiary" class="buyBtn" shape="round" (click)="addcart()">Add to Bag</ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
