<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Donation form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <form [formGroup]="donateForm" (ngSubmit)="listDonate(donateForm.value)"> <!--donation form start here-->
    <h2>Your Item</h2> <!--title here-->
    <ion-card color="medium">
      <ion-item color="medium">
        <ion-label>Type</ion-label>
        <ion-select interface="popover" formControlName="type">
          <ion-select-option value="clothing">Clothings</ion-select-option>
          <ion-select-option value="bag">Bags</ion-select-option>
          <ion-select-option value="footwear">Footwear</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item color="medium">
        <ion-label>Quantity</ion-label>
        <ion-input type="number" min="1" color="light" formControlName="quantity"></ion-input>
      </ion-item>

      <ion-item color="medium">
        <ion-label>Area</ion-label>
        <ion-select interface="popover" formControlName="area">
          <ion-select-option value="brunei-muara">Brunei-Muara</ion-select-option>
          <ion-select-option value="tutong">Tutong</ion-select-option>
          <ion-select-option value="temburong">Temburong</ion-select-option>
          <ion-select-option value="kuala belait">Kuala Belait</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item color="medium">
        <ion-label>Street</ion-label>
        <ion-input type="text" color="light" formControlName="street"></ion-input>
      </ion-item>

      <ion-item color="medium">
        <ion-label>Delivery</ion-label>
        <ion-select interface="popover" formControlName="delivery">
          <ion-select-option value="drop-off">Drop-off</ion-select-option>
          <ion-select-option value="pick-up">Pick-up</ion-select-option>
        </ion-select>
      </ion-item> 

      <ion-item color="medium">
        <ion-label>Charges(pick-up only)</ion-label>
        <ion-input type="text" color="light" value="$3.00" formControlName="charges"></ion-input> <!--changed based on area & street-->
      </ion-item>
    </ion-card>

    <ion-button type="submit" color="tertiary" shape="round" [disabled]="!donateForm.valid">Submit</ion-button>
  </form>
  <ion-button routerLink="./success-donate">Testing</ion-button>
</ion-content>
