<ion-tabs>
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="home">
      <ion-img src="assets/icon/home-empty.png"></ion-img>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inbox">
      <ion-img src="assets/icon/email-thin.png"></ion-img>
      <ion-label>Inbox</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-img src="assets/icon/profile-line.png"></ion-img>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>