<ion-header>
  <ion-toolbar color="medium">
    <ion-title class="ion-text-center">Verification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium" *ngIf="verified">
    <div id="verification">
      <b>Verification is successful!</b> <br>
      <img src="\assets\icon\check.png" alt="">
    </div>
    <!--for blank space-->
    <div id="spaces"></div>
    <!--submit button here-->
    <ion-button color="tertiary" shape="round" (click)="continue()">Continue</ion-button>
</ion-content>
 