ion-button{
    display: block;
    width: 130px;
    margin: auto; margin-top: 30px;
}

#verification {
    padding-top: 160px;
    margin: auto;
    text-align: center;
    padding-bottom: 60%;
}

#verification img {
    padding-top: 21px;
}