ion-buttons{
    width: 10px;
}

ion-label{
    display: block; width: 80%;
    margin-top: 40px; margin-left: 20px;
    font-size: 20px;
}

p{
    display: block;
    width: 90%; margin: auto;
    margin-top: 30px;
    font-size: 17px; text-align: justify;
}

ion-button{
    display: block; width: 40%; height: 40px;
    position: absolute; bottom: 30px; left: 30%;
}

ion-card{
    margin-top: 30px;
}