<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">CHECKOUT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-label>SELECT DELIVERY OPTION</ion-label>
  <p>kindly wait 2-3 days of delivery service during working days. We apologies for any inconvenience caused</p>
  <ion-card color="medium">
    <ion-item color="medium">
      <ion-input type="text" placeholder="Default Address" [disabled]="true"></ion-input>
    </ion-item>
    <ion-item color="medium">
      <ion-input type="text" placeholder="To another address" [disabled]="false"></ion-input>
    </ion-item>
  </ion-card>

  <ion-button shape="round" color="tertiary" routerLink="../payment">Continue</ion-button>
</ion-content>
