<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Sell Item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <form> <!--form start-->
  <h2>Your Item</h2> <!--subtitle-->

  <!--whitebox 1 start-->
  <ion-card color="medium">
    <!--upload picture here-->
    <ion-label>Item Photo</ion-label>
    <p id="myText">Provide a minimum 3 photos. Please provide details of defects, if applicable</p>
    <div class="uploadFile">
      <ion-input type="file" style="color: transparent;"></ion-input>
    </div>
    <div class="uploadFile">
      <ion-input type="file" style="color: transparent;"></ion-input>
    </div>
    <div class="uploadFile">
      <ion-input type="file" style="color: transparent;"></ion-input>
    </div>
    <!--item title here-->
    <ion-label>Title</ion-label>
    <ion-item color="medium">
      <ion-input type="text" placeholder="Required"></ion-input>
    </ion-item>
    <br>
    <!--item description here-->
    <ion-label>Item Description</ion-label>
    <ion-item color="medium">
      <ion-textarea placeholder="Tell us more about your item. Don’t forget to describe any flaws too!"></ion-textarea>
    </ion-item>
  </ion-card>
  <!--whitebox 1 end-->

  <h2>Details</h2> <!--subtitle-->

  <!--whitebox 2 start-->
  <ion-card color="medium" class="box2">
    <!--brand-->
    <ion-item color="medium">
      <p>Brand</p>
      <ion-input type="text" placeholder="Required"></ion-input>
    </ion-item>
    <!--item type-->
    <ion-item color="medium">
      <ion-select interface="popover" placeholder="Select type" color="medium">
        <ion-select-option value="">Socks</ion-select-option>
        <ion-select-option value="">Tops & T-Shirts</ion-select-option>
        <ion-select-option value="">Dresses</ion-select-option>
        <ion-select-option value="">Skirts</ion-select-option>
        <ion-select-option value="">Pants</ion-select-option>
        <ion-select-option value="">Sweaters</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button type="submit" color="tertiary" shape="round" class="listbtn">List this item</ion-button>
  </ion-card>
  <!--whitebox 2 end-->
  </form> <!--form end-->
</ion-content>
 