<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Sell Item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div class="whiteBox">
    <form>
    <h3>Your Item</h3>
    <p>Provide a minimum 3 photos. Please provide details of defects, if applicable</p>
    </form>
  </div>
    
</ion-content>

<ion-footer>
  <ion-toolbar color="medium">
  </ion-toolbar>
</ion-footer>
