<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>alerts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <div class="wrap" *ngFor="let alert of notify">
    <div class="pic">
      <img src="{{ alert.img }}" alt="shopping bag image" class="myImg">
    </div>
    <div class="texts">
      <p class="mainText">{{ alert.user }} just {{ alert.type }} <b>{{ alert.item }}</b></p>
      <p class="smallText">{{ alert.date }}</p>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="medium">
  <div id="footerBox">
    <ion-button color="medium" routerLink="../home" class="thisFlex">
      <div class="btnBox">
        <ion-icon name="home-outline" class="iconFooter"></ion-icon>
        Home
      </div>
    </ion-button>
    <ion-button color="medium" routerLink="../discover" class="thisFlex">
      <div class="btnBox">
        <ion-icon name="search-outline" class="iconFooter"></ion-icon>
        Discover
      </div>
    </ion-button>

    <ion-button color="medium" routerLink="../sell" class="thisFlex">
      <div class="btnBox">
        <ion-icon name="camera-outline" class="iconFooter"></ion-icon>
        Sell
      </div>
    </ion-button>

    <ion-button color="medium" class="thisFlex">
      <div class="btnBox">
        <ion-icon name="notifications-outline" class="iconFooter"></ion-icon>
        Alerts
      </div>
    </ion-button>

    <ion-button color="medium" routerLink="../mepage" class="thisFlex">
      <div class="btnBox">
        <ion-icon name="person-outline" class="iconFooter"></ion-icon>
        Me
      </div>
    </ion-button>
  </div>
  </ion-toolbar>
</ion-footer>
