<ion-header color="medium">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" routerLink="../">
      <ion-button color="dark"><ion-icon name="arrow-back" size="large"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" color="dark">{{ item[0].title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button id="report"><ion-img style="height:100%;width: 100%;" src="assets/icon/exclamation-mark.png"></ion-img></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content color="medium">
  <!--item details picture-->
  <div class="bigPicture">
    <ion-slides [options]="slideOpts">
      <!--for picture 1-->
      <ion-slide>
        <ion-img [src]="item[0].img1" alt="item" class="bigPic"></ion-img>
      </ion-slide>

      <!--for picture 2-->
      <ion-slide>
        <ion-img [src]="item[0].img2" alt="item" class="bigPic"></ion-img>
      </ion-slide>

      <!--for picture 3-->
      <ion-slide>
        <ion-img [src]="item[0].img3" alt="item" class="bigPic"></ion-img>
      </ion-slide>
    </ion-slides>
    
  </div>
  <div>
    <!-- <ion-img src="assets/img/jeans.jpg"></ion-img> -->
  </div>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col><ion-text color="light">By Eiji</ion-text></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-text><b>Nike KD shoes</b></ion-text></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><h3 style="color:green;"><b>B$40.50</b></h3></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3"><ion-text color="light">Brand</ion-text></ion-col>
        <ion-col><ion-text><b>Nike</b></ion-text></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3"><ion-text color="light">Size</ion-text></ion-col>
        <ion-col><ion-text><b>Free Size</b></ion-text></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3"><ion-text color="light">Colour</ion-text></ion-col>
        <ion-col><ion-text><b>yellow</b></ion-text></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3"><ion-text color="light">Description</ion-text></ion-col>
        <ion-col><ion-text><b>No defect at all, Size UK42, Good for playing basketball indoor and outdoor</b></ion-text></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3"><ion-text color="light">Category</ion-text></ion-col>
        <ion-col><ion-text><b>men</b></ion-text></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3"><ion-text color="light">Type</ion-text></ion-col>
        <ion-col><ion-text><b>shoes</b></ion-text></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3"><ion-text color="light">Quantity</ion-text></ion-col>
        <ion-col><ion-text><b>1</b></ion-text></ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>

<ion-footer class="change-category">
  <div style="display: flex; height:100%;">
    <ion-button style="width:90%;margin:auto; --border-radius:20px;" (click)="changeCategory()">
      <ion-text color="dark" id="open-category"><b>Change Category</b></ion-text>
    </ion-button>
  </div>
  

</ion-footer>
