<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col>
        <ion-img src="..\..\..\src\assets\profile-defaults\default-pic.png"></ion-img>
        <h2 class="ion-text-center">John Doe</h2>
      </ion-col>
      <ion-col>
        
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-text-center ffrtab">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h3>0</h3>
          <div>Follower</div>
        </ion-col>
        <ion-col>
          <h3>0</h3>
          <div>Following</div>
        </ion-col>
        <ion-col>
          <h3>0</h3>
          <div>Reviews</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-segment value="listing">
    
    <ion-segment-button value="listing">
      <ion-label>
        Listings 
      </ion-label>
    </ion-segment-button>

    <ion-segment-button value="sold">
      <ion-label>
        Sold 
      </ion-label>
    </ion-segment-button>
  
    <ion-segment-button value="bought">
      <ion-label>
        Bought
      </ion-label>
    </ion-segment-button>
    
    <ion-segment-button value="earn">
      <ion-label>
        Earns 
      </ion-label>
    </ion-segment-button>
  
  </ion-segment>
</ion-content>
