.ffrtab {
    width: 80%;
    height: min-content;
    margin: auto;
    border: solid 1px black;
    padding-top: 0px;
    border-radius: 20px;
    background: #FCF9F1;
    border: 1px solid #EFD4BA;
    border-radius: 15px;
}

.ffrtab ion-col {
    padding-top: 0px;
}

.ffrtab h1 {
    padding-top: 0px;
}

ion-segment {
    margin: auto;
    box-sizing: border-box;
    width: 90%;
    background: #FCF9F1;
    border: 1px solid #EFD4BA;
    border-radius: 15px;
}

.segment-button-checked {
    color: black;
    font-weight: bold;
    background: #EFD4BA;
    border-radius: 15px;
}