#spaces{
    display: block;
    height: 220px; width: 100%;
}

ion-button{
    font-weight: bold;
    padding-left: 1%;
}

.buttons{
    display: block;
    width: 240px; height: 50px;
    margin: auto;
}

ion-modal {
    --ion-background-color: white;
  }

.test{
    display: block;
    height: 40px; width: 40px;
    border: 1px solid black;
}