<ion-header color="secondary">
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Forgot your password?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <form [formGroup]="resetForm" (ngSubmit)="resetPass(resetForm.value)">
    <ion-card color="medium">
      <p id="sms">We will send you OTP through your email and proceed to reset your password</p>
      <div id="licontainer">
        <ion-item color="medium">
          <ion-input type="text" placeholder="Enter your email address" formControlName="email"></ion-input>
        </ion-item>
      </div>
      
    </ion-card>
    <!--for blank space-->
    <div id="spaces"></div>
    <ion-button color="tertiary" shape="round" type="submit" *ngIf="!disappear">Reset your password</ion-button>
    <div class="emailText" *ngIf="check">Please check your email to reset your password!</div>  
    <ion-button color="tertiary" shape="round" *ngIf="check" routerLink="../../">Log In</ion-button>
    
  </form>
</ion-content>
