ion-buttons{
    width: 10px;
}



#spaces {
    display: block;
    height: 240px;
}

ion-button{
    display: block;
    width: 200px;
    margin: auto;
}

#sms {
    text-align: center;
}

ion-card {
    height: 300px;
    padding-left: 5%;
    padding-right: 5%;
}

p {
    padding-top: 98px;
}

ion-label {
    height: 71px;
}

#licontainer {
    padding-top: 71px;
}