<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Forgot your password?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <form action="">
    <ion-card color="medium">
      <p id="sms">We will send you OTP through your email and proceed to reset your password</p>
      <div id="licontainer">
        <ion-item color="medium">
          <ion-input type="text" placeholder="Enter your email address"></ion-input>
        </ion-item>
      </div>
      
    </ion-card>
    <!--for blank space-->
    <div id="spaces"></div>
    <ion-button color="tertiary" shape="round" routerLink="../verification">Verify</ion-button>
  </form>
</ion-content>
