<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="dark"><b>Dashboard</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3 style="margin: 8px;">Database</h3>

        <ion-card color="primary" routerLink="../users">
          <ion-card-content>
            <ion-grid class="grid-center">
              <ion-row>
                <ion-col size="2">
                  <ion-img style="height:30px;margin:0;" src="assets/icon/users.png"></ion-img>
                </ion-col>
                <ion-col>
                  <ion-text style="font-size: 1.2em;" color="dark"><b>Users</b></ion-text>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>

        <ion-card color="primary" routerLink="../products">
          <ion-card-content>
            <ion-grid class="grid-center">
              <ion-row>
                <ion-col size="2">
                  <ion-img style="height:30px;margin:0;" src="assets/icon/products.png"></ion-img>
                </ion-col>
                <ion-col>
                  <ion-text style="font-size: 1.2em;" color="dark"><b>Products</b></ion-text>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>

        <ion-card color="primary" routerLink="../orders">
          <ion-card-content>
            <ion-grid class="grid-center">
              <ion-row>
                <ion-col size="2">
                  <ion-img style="height:30px;margin:0;" src="assets/icon/orders.png"></ion-img>
                </ion-col>
                <ion-col>
                  <ion-text style="font-size: 1.2em;" color="dark"><b>Orders</b></ion-text>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <!-- only put 4 recent inboxs -->
        <h3 style="margin: 8px 8px 0 8px;">Recent Inbox</h3>
        
        <ion-list style=" background-color:#ffffff;">
          <ion-item color="medium">
            <ion-label>
              <ion-text><b>Best Thrift Shop</b></ion-text><br>
              <ion-text color="light">02:09pm, 12/04/2022</ion-text><br>
              <p>Odio turpis quam malesuada quam massa, amet, elementum. Facilisis quis vitae sit at non vita.</p>
            </ion-label>
          </ion-item>

          <ion-item color="medium">
            <ion-label>
              <ion-text><b>Reilly Christal</b></ion-text><br>
              <ion-text color="light">02:09pm, 12/04/2022</ion-text><br>
              <p>Odio turpis quam malesuada quam massa, amet, elementum. Facilisis quis vitae sit at non vita.</p>
            </ion-label>
          </ion-item>

          <ion-item color="medium">
            <ion-label>
              <ion-text><b>Shawnda Maurene</b></ion-text><br>
              <ion-text color="light">02:09pm, 12/04/2022</ion-text><br>
              <p>Odio turpis quam malesuada quam massa, amet, elementum. Facilisis quis vitae sit at non vita.</p>
            </ion-label>
          </ion-item>

          <ion-item color="medium">
            <ion-label>
              <ion-text><b>Wan Roniy</b></ion-text><br>
              <ion-text color="light">02:09pm, 12/04/2022</ion-text><br>
              <p>Odio turpis quam malesuada quam massa, amet, elementum. Facilisis quis vitae sit at non vita.</p>
            </ion-label>
          </ion-item>
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-fab vertical="bottom" horizontal="end" activated="true" slot="fixed" class="database" >
  </ion-fab> -->

</ion-content>

<ion-footer style="height: 8%; background-color:#ffffff;">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button routerLink="../home">
          <ion-img style="margin: 0 auto;" src="assets/icon/home-label.png"></ion-img>
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-button routerLink="../inbox">
          <ion-img style="margin: 10% auto;" src="assets/icon/inbox-label.png"></ion-img>
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-button routerLink="../profile">
          <ion-img style="margin: 0 auto;" src="assets/icon/profile-label.png"></ion-img>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

