<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Payment Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-progress-bar color="tertiary" value="0.5"></ion-progress-bar>  

<ion-content color="medium">
  <ion-accordion-group color="medium">
    <!--for cash-->
    <ion-accordion value="first" color="medium">
      <ion-item slot="header" color="medium">
        <ion-label>Paypal</ion-label>
        <ion-checkbox slot="start" color="medium"></ion-checkbox>
      </ion-item>
      <div class="ion-padding" slot="content" color="medium">You will be directed to the secure Paypal system after your order has been confirmed. To make a payment, sign in with your PayPal credentials.</div>
    </ion-accordion>
    <!--for paypal-->
    <ion-accordion value="second">
      <ion-item slot="header" color="medium">
        <ion-label>Cash on delivery</ion-label>
        <ion-checkbox slot="start" color="medium"></ion-checkbox>
      </ion-item>
      <div class="ion-padding" slot="content" color="medium">When the delivery person brings your order to your door, pay in cash. Or use the BIBD quickpay to go "Contactless." For terms and conditions, kindly refer to FAQ.</div>
    </ion-accordion>
  </ion-accordion-group>
  <ion-button shape="round" color="tertiary" routerLink="../checkout">Continue</ion-button>
</ion-content>
