ion-button{
    display: block; width: 40%; height: 40px;
    margin: auto; margin-top: 20px;
}

ion-accordion-group{
    display: block;
    width: 95%; 
    margin: auto; margin-top: 40px; margin-bottom: 40px;
    border: 1px solid;
}

div{
    background-color: white;
}
