<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-icon slot="end" name="settings-outline"></ion-icon>
    <ion-icon slot="end" name="bag-outline" routerLink="../shopping-bag"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <!--user profile pic-->
  <div class="profilePic">
    <ion-img src="assets/img/user.png" alt="profile picture of user" *ngIf="!imgurl"></ion-img>
    <ion-img [src]="imgurl.imgurl" alt="profile picture of user" *ngIf="imgurl"></ion-img>
  </div>
  <!--username-->
  <div class="bigName">{{ user[0].username }}</div>
  <!--button follow and message here-->
  <div class="btnWrap">
    <div class="follow" *ngIf="!isfollowing">
      <ion-button class="followBtn" color="tertiary" shape="round" (click)="followuser()">Follow</ion-button>
    </div>
    <div class="follow" *ngIf="isfollowing">
      <ion-button class="followBtn" color="tertiary" shape="round">Followed</ion-button>
    </div>
    <div class="message">
      <ion-button class="messageBtn" color="medium" routerLink="../message" [state]="user">Message</ion-button>
    </div>
  </div>
  <!--follower/following/review-->
  <div class="userWrap">
    <div class="left">
      <p>{{ follower }}</p>
      <p>Follower</p>
    </div>
    <div class="middle">
      <p>{{ following }}</p>
      <p>Following</p>
    </div>
    <div class="right">
      <p>{{ reviewed }}</p>
      <p>Reviews</p>
    </div>
  </div>
  <!--searchbar here-->
  <ion-searchbar color="medium" placeholder="Search product"></ion-searchbar>
  <!--for item list-->
  <div class="itemList" *ngFor="let item of item | slice:0:3">
    <div class="itemPic">
      <ion-img [src]="item.img1" class="pic"></ion-img>
    </div>
    <div class="itemContent">
      <p style="font-weight: bold; font-size: 18px;">{{ item.title }}</p>
      <p>{{ item.brand }}</p>
    </div>
  </div>
</ion-content>
