<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CHECKOUT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-progress-bar color="primary" value="0.25"></ion-progress-bar> 

<ion-content>
  <h1 >SELECT DELIVERY OPTION</h1>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <p >kindly wait 2-3 days of delivery service during working days. 
            We apologise for any inconvenience caused</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
 <div>
  <ion-list>
    <ion-item>
      <ion-label>
        <!-- this one untuk default address -->
      </ion-label> 
    </ion-item>
    <ion-item>
      <ion-label>Deliver to another address </ion-label>
    </ion-item>
    </ion-list>
  </div>

  </ion-content>
    <ion-button (click)="nextpage()">Continue</ion-button>