ion-searchbar{
    display: block;
    width: 95%; height: 10%;
    margin-left: 5px; margin-top: 15px;
}

ion-header, ion-toolbar{
    height: 9vh;
}

ion-icon{
    display: block;
    width: 40px; height: 40px;
    margin-right: 15px; margin-top: 15px;
}

ion-button{
    display: inline-block;
    height: 50px; width: 55px;
    margin-top: 10px; margin-bottom: 10px; margin-left: 7px;
    text-align: center;
    --box-shadow: none;
}

.iconFooter{
    display: block;
    width: 20px; height: 30px;
    margin: auto; padding-top: 40px;
}

ion-label{
    display: block;
    font-size: 8px; padding-bottom: 40px;
}

#footerBox{
    display: block;
    width: 90%; height: 100%;
    margin: auto;
}

.pictureBox{
    display: block;
    width: 80%; height: 25%;
    border: 1px solid; border-radius: 20px;
    margin: auto; margin-top: 20px;
}

h3{
    font-weight: bold; margin-left: 35px;
    font-size: 17px; margin-top: 20px;
}