ion-content {
    // overwrite inline styles
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
}
ion-content::-webkit-scrollbar{
    display: none;
}

ion-searchbar{
    display: block;
    width: 95%; height: 10%;
    margin-left: 5px; margin-top: 15px;
}

ion-header, ion-toolbar{
    height: 7.5vh;
}

ion-button{
    display: inline-block;
    height: 50px; width: 55px;
    margin: auto;
    text-align: center;
    --box-shadow: none;
}

ion-icon{
    width: 80px; height: 40px;
    margin-top: 10px;
}

.iconFooter{
    display: block;
    width: 40px; height: 30px;
    margin: auto; margin-top: 5px;
}

.btnBox{
    display: block;
    width: 70px; height: 90px;
    margin: auto;
    font-size: 12px; text-align: center;
}

ion-label{
    display: block;
    font-size: 8px; padding-bottom: 40px;
}

#footerBox{
    display: inline-flex;
    width: 100%; height: 100%;
    margin: auto; margin-top: 10px;
}

.thisFlex{
    flex: 20%;
}

.pictureBox{
    display: block;
    width: 95%; height: 35%;
    border-radius: 20px;
    margin: auto;
}

h3{
    font-weight: bold; margin-left: 20px;
    font-size: 18px; margin-top: 20px;
}

.bigImg{
    display: block;
    width: 100%; height: 100%;
    border-radius: 20px;
}

.bigImg::part(image){
    object-fit: cover;
}

//for item list

.itemList{
    display: inline-block;
    width: 45%; height: 25vh;
    margin-left: 12px;
    margin-bottom: 10px;
}

.titleText{
    text-align: center; margin-top: 10px;
    font-weight: bold;
    width: 100px; margin: auto; margin-top: 10px;
    //below for text too long
    overflow: hidden; white-space: nowrap; 
    text-overflow: ellipsis;
}

.priceTag{
    text-align: center;
    font-size: 14px;
}

//for donation button
.banner{
    display: flex;
    flex: wrap;
    width: 100%; height: 14vh;
    background-image: url(/assets/img/banner.jpg);
    border: 1px solid #FAECDF; margin-bottom: 20px;
}

.banRight{
    flex: 30%; height: 17vh;
}

.banLeft{
    flex: 70%; height: 17vh;
}

.donateTxt{
    text-align: center; font-size: 18px;
    font-weight: bold;
}

.donateBtn{
    display: block;
    width: 80%; height: 40px;
    font-size: 12px;
    margin: auto;
}

.iconSize{
    display: block; max-width: 100px;
    margin: auto; margin-top: 12px;
    margin-left: 10px;
}

h2{
    margin-left: 20px;
}

//pick box
.pickBox{
    display: block;
    width: 100%; height: 35vh;
    overflow-x: auto; margin: auto;
    white-space: nowrap;
}

.pickBox::-webkit-scrollbar{
    display: none;
}

.theBox{
    display: inline-block;
    width: 45%; height: 31vh;
    border: 1px solid #F2BE8D;
    border-radius: 10px;
    margin-left: 10px; margin-right: 10px;
    margin-top: 5px;
}

.theBox:nth-child(odd){
    background-color: #F2BE8D;
    border: 1px solid #FAECDF;
}

.theBox:nth-child(even){
    background-color: #FAECDF;
}

.imageBox{
    display: block;
    width: 100%; height: 18vh;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #F2BE8D;
}

.itemPic{
    display: block;
    width: 100%; height: 100%;
    border-radius: 10px 10px 0px 0px;
    border: none;
}

.itemPic::part(image){
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    border: none;
}

.myBtn{
    margin-top: 10px;
}

.btnGo{
    display: block;
    width: 100px; height: 30px;
    margin: auto;
}