<ion-header>
  <ion-toolbar color="medium">
    <ion-searchbar color="medium" placeholder="search your wardrobe"></ion-searchbar>
    <ion-icon name="bag-outline" slot="end" routerLink="../shopping-bag"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <!--big picture-->
  <div class="pictureBox">
    <img src="assets/img/pic1.jpg" alt="Main Picture" class="bigImg">
  </div>
  <h3>Picked out just for you!</h3>

  <!--item list-->
  <div class="itemList" *ngFor="let item of item | slice:0:3" routerLink="../item-details" [state]="item"> <!-- routerLink="../item-details"  (click)="itemDetail()-->
    <!--image here-->
    <ion-img [src]="item.img1" class="itemPic"></ion-img>
    <!--content here-->
    <div class="titleText">{{ item.name }}</div>
    <div class="priceTag">${{ item.price }} BND</div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="medium">
  <div id="footerBox">
    <ion-button color="medium">
      <ion-label><ion-icon name="home-outline" class="iconFooter"></ion-icon>Home</ion-label>
    </ion-button>

    <ion-button color="medium" routerLink="../discover">
      <ion-label><ion-icon name="search-outline" class="iconFooter"></ion-icon>Discover</ion-label>
    </ion-button>

    <ion-button color="medium" routerLink="../sell">
      <ion-label><ion-icon name="camera-outline" class="iconFooter"></ion-icon>Sell</ion-label>
    </ion-button>

    <ion-button color="medium" routerLink="../alerts">
      <ion-label><ion-icon name="notifications-outline" class="iconFooter"></ion-icon>Alerts</ion-label>
    </ion-button>

    <ion-button color="medium" routerLink="../mepage">
      <ion-label><ion-icon name="person-outline" class="iconFooter"></ion-icon>Me</ion-label>
    </ion-button>
  </div>
  </ion-toolbar>
</ion-footer>
