<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start" routerLink="../">
      <ion-button color="dark"><ion-icon name="arrow-back" size="large"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium" *ngFor="let account of user | slice:0:1">
  <form [formGroup]="editProfile" (ngSubmit)="updateUser(editProfile.value)"> <!--form for submit-->
    <ion-grid>
      <ion-row style="padding: 15px 0;">
        <ion-col style="display:flex;justify-content:center;" *ngIf="!imgurl"><img style="width: 60%;" src="assets/img/user.png" alt="Profile image" *ngIf="!imgurl" class="profileImage"></ion-col>
        <ion-col style="display:flex;justify-content:center;" *ngIf="imgurl"><img style="width: 60%;" [src]="imgurl.imgurl" alt="Profile image" *ngIf="imgurl" class="profileImage"></ion-col>
        <ion-col>
          <ion-row>
            <ion-col><ion-button color="tertiary">Remove photo</ion-button></ion-col>
          </ion-row>
          <ion-row>
            <ion-col><ion-input type="file" (change)="uploadImg($event)" class="inputFile"></ion-input></ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-list style="background-color: #ffffff; margin: 0 15px;" >
      <ion-item color="medium">
        <ion-label style="font-size: 1.2em;">Username</ion-label>
        <ion-input type="text" placeholder="add your username" formControlName="username" required></ion-input>
      </ion-item>

      <ion-item color="medium">
        <ion-label style="font-size: 1.2em;">Full Name</ion-label>
        <ion-input type="text" placeholder="add your fullname" value="{{ account.fullname }}" formControlName="fullname"></ion-input>
      </ion-item>

      <ion-item color="medium">
        <ion-label style="font-size: 1.2em;">Email</ion-label>
        <ion-input type="text" placeholder="add your email" value="{{ account.email }}" disabled formControlName="email"></ion-input>
      </ion-item>

      <ion-item color="medium">
        <ion-label style="font-size: 1.2em;">Phone Number</ion-label>
        <ion-input type="text" placeholder="add your phone number" value="{{ account.contact }}" formControlName="contact" required></ion-input>
      </ion-item><br>

      <ion-label style="font-size: 1.2em; margin: 0 15px;">Address 1</ion-label>
      <ion-item color="medium">
        <ion-input type="text" placeholder="add your address 1" value="{{ account.address1 }}" formControlName="address1" required></ion-input>
      </ion-item><br>

      <ion-label style="font-size: 1.2em; margin: 0 15px;">Address 2</ion-label>
      <ion-item color="medium">
        <ion-input type="text" placeholder="add your address 2" value="{{ account.address2 }}" formControlName="address2"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block" type="submit" color="tertiary" style="margin: 15px;" [disabled]="!editProfile.valid" (click)="updateUser()"><b>Save Changes</b></ion-button>
  </form>

</ion-content>
