<ion-header>
  <ion-toolbar color="medium" class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">

  <div class="cont">

    <h5>Edit Profile</h5>

    <h5>My addresses</h5>

    <h5>Edit your home feed</h5>

    <h5>Notification</h5>

    <h5>FAQ</h5>

    <h5>Terms & Conditions</h5>

    <h5>Our Policies</h5>

    <h5>Contact Us</h5>

    <h5 id="log-out">Log Out</h5>
    
  </div>
</ion-content>
