<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <form action="">
    <ion-card color="medium">
      <!--first input-->
      <ion-label>Username or Email</ion-label>
      <ion-item color="medium">
        <ion-input type="text" placeholder="Username"></ion-input>
      </ion-item>
      <br><!--break line-->
      <!--second input-->
      <ion-label>Password</ion-label>
      <ion-item color="medium">
        <ion-input type="passowrd" placeholder="Username"></ion-input>
      </ion-item>
      <a href="#">Forgot your password?</a>
    </ion-card>
  </form>
</ion-content>
