ion-buttons{
    width: 10px;
}

ion-card{
    padding: 5%;
}

a{  
    display: block;
    text-decoration: none;
    color: #F2BE8D;
    padding-top: 10px;
}

#spaces{
    display: block; width: 100%;
}

ion-button{
    display: block;
    width: 130px;
    margin: auto; margin-bottom: 20px;
}

p{
    color: red;
    padding: 5px;
    font-size: 14px; text-align: center;
}

//for welcome
.myWelcome{
    color: black; text-align: center;
    margin-bottom: 20px;
}

//error message
.errorMsg{
    color: red;
}