<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-card color="primary" class="myWelcome">
    <ion-img src="assets/img/welcome.gif"></ion-img>
    <h2>Welcome back!</h2>
    Hello there, please login to continue!
  </ion-card>

  <form class="form" [formGroup]="userForm" (ngSubmit)="signIn(userForm.value)">
    <ion-card color="medium">
      <!--first input-->
      <ion-label>Email</ion-label>
      <ion-item color="medium">
        <ion-input type ="text" placeholder="Enter your email" formControlName="email"><ion-icon name="person-outline"></ion-icon> &nbsp;</ion-input>
      </ion-item>
      <ng-container *ngFor="let error of error_msg.email">
        <div class="errorMsg" *ngIf="userForm.get('email').hasError(error.type) && (userForm.get('email').dirty || userForm.get('email').touched)">
          {{ error.message }}
        </div>
      </ng-container>
      <br><!--break line-->
      <!--second input-->
      <ion-label>Password</ion-label>
      <ion-item color="medium">
        <ion-input type="password" placeholder="Enter your password" formControlName="password"><ion-icon name="key-outline"></ion-icon> &nbsp;</ion-input>
      </ion-item>
      <ng-container *ngFor="let error of error_msg.password">
        <div class="errorMsg" *ngIf="userForm.get('password').hasError(error.type) && (userForm.get('password').dirty || userForm.get('password').touched)">
          {{ error.message }}
        </div>
      </ng-container>
      <a routerLink="../forgot-password">Forgot your password?</a>
    </ion-card>
    <!--for blank space-->

    <!--error message when login-->
    <p>{{ errorMsg }}</p>


    <div id="spaces"></div>
    <!--submit button here-->
    <ion-button type="submit" color="tertiary" shape="round" [disabled]="!userForm.valid">Log In</ion-button>
  </form>
</ion-content>
