ion-buttons{
    width: 10px;
}

ion-card{
    padding: 5%;
}

a{  
    display: block;
    text-decoration: none;
    color: #F2BE8D;
    padding-top: 10px;
}

#spaces{
    display: block;
    height: 300px; width: 100%;
}

ion-button{
    display: block;
    width: 130px;
    margin: auto;
}